* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 1rem;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: 0;
    transform: scale(0.9);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
}